header {
  color: #faf9f6;
  text-align: center;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
header h1 {
  font-size: 50px;
  font-family: "Mulish", sans-serif;
}
header h2 {
  padding: 10px;
  border-bottom: 1px solid white;
  margin: 10px auto;
  display: table;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
}
.socials {
  text-align: center;
}
a {
  color: #faf9f6;
  text-decoration: none;
  border: none;
}
.icon-block {
  margin: auto;
  font-size: 40px;
}
.github {
  margin-right: 2em;
}

body {
  background-color: #11161e;
}
.project-header {
  text-align: center;
}
.project-header h2 {
  padding: 10px;
  color: #faf9f6;
  border-bottom: 2px solid #faf9f6;
  margin: 10px auto;
  display: table;
  margin-top: 30px;
}
.projects {
  margin-top: 30px;
  text-align: center;
}
.projects p {
  color: #faf9f6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.meditation {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 1px 3px 5px rgba(255, 255, 255, 0.2);
}
